.modal-confirmation {
  .ant-modal-content {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 8px;

    h4 {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #0b2250;
    }

    p {
      color: #6d7a96;
    }

    .action {
      border-top: 1px solid #ddd;
      padding-top: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .modal-confirmation-base-button {
        width: 180px;
        border-radius: 8px;
        height: 44px;
      }

      .cancel-button {
        background: none;
        border: 1px solid #c34331;
        color: #c34331;
      }

      .confirm-button {
        border: 1px solid transparent;
      }

      .is-cancel-focused-cancel {
        background: #c34331;
        color: #ffffff;
        border: 1px solid transparent;
      }

      .is-cancel-focused-confirm {
        background: none;
        border: 1px solid #6fa8f8;
        color: #6fa8f8;
      }
    }

    .alert-icon {
      z-index: 999;
      background: #c3433133;
      border-radius: 30px;
      padding: 5px;
      color: #c34331;
      font-size: 38px;
      margin: 20px 0;
    }
  }

  .ant-modal-footer {
    border: none;
  }
}

.centered-content {
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}